<header class="fond">
  <img class="inicio" src="https://www.shutterstock.com/image-vector/tv-icon-vector-flat-design-600w-570189409.jpg"/>
  TV Series
</header>



<div *ngIf="selected">
  <app-serie-detail [serieDetail]="selectedSerie"></app-serie-detail>
</div>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>
            <dd> {{serie.id}}</dd>
          </td>
          <td>
            <dd (click)="onSelected(serie)" >{{serie.name}}</dd>
          </td>
          <td>
            <dd>{{serie.channel}}</dd>
          </td>
          <td>
            <dd> {{serie.seasons}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 id = "total-series"></h5>
  </div>
</div>




